@charset "UTF-8";

/* 

botão de operações = #70757A
botão de numeros = #3C4043
botão de igual = #8AB4F8
fundo = #202124

*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

section {
    position: relative;
    width: 100vw;
    height: 100vh;
}

div#base {
    background-color: #202124;
    width: 750px;
    height: 550px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
}

p {
    color: white;
}